body{
	margin: 0;/*to remove the white spaces on both side(L AND R)*/
	padding: 0;
}
#navbar{
	width: 100%;
    background-color: whitesmoke;
    margin: 0px 5px 10px 850px;
    position: fixed;

}
nav ul {
    margin: 0px;
    padding: 5px 15px 5px 15px;
}
nav li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.container{
	background-color:black;
	width: 100%;
	display: grid;
	grid-template-rows: 650px 800px 600px 300px;
}
.home{
	background-image:linear-gradient(60deg,#360033,#0b8793,#7D1B7E);
}
.img-profile{
	display: block;
	height: 225px;
	width: 225px;
	border-color:whitesmoke;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	margin: 150px auto 5px;/*after adding display:block; ,auto should be placed here for center this image*/
}
#h-Software{
	text-align: center;
	color: whitesmoke;
	font-size: 40px;
}
.about{ 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1px 1px;
	color: black;
	font-size: medium;
}
.about-single {
	background-position: center;/*center the images*/
	background-size: cover;/*scale the images*/
	background-repeat: no-repeat;/*remove the image repeats*/
}
.about-single h1{
	text-align: center;
}
.details {
	margin: 3%;
	background-color: rgba(0, 0, 0, 0.7);
	color:rgb(184, 176, 176);
    width: 94%;
    height: 90%;
}
.about-single dl{
	padding-left: 15px;
}
.about-single dt, ol{
	font-weight: bold;
}
#about1{
	background-image:url("../images/personal.jpeg");
}
#about2{
	background-image:url("../images/education.jpg");
	background-position: right;
}
#about3{
	background-image:url("../images/key skills.png");
}	
#about4{
	background-image:url("../images/project.jpg");
}
#about5{
	background-image:url("../images/acti.jpg");
}
#about6{
	background-image:url("../images/certificate.jpg");
	background-position: left;
}

/* To set opacity we don't need to create additional div */
.mythought{
	background-color:#FFFFAF; 
}
.mythought-gallery{
	height:300px;
	width: 300px;
}
.contact{
	background-color:#0b8793; 
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-column-gap: 20px;
}
.contact h1{
	text-align: center;
}
.contact img{
	height: 100px;
	width: 100px;
}
.contact-single{
	background-color: whitesmoke;
	margin-top: 100px;
	margin-bottom: 10px;
}