body{
	margin: 0;/*to remove the white spaces on both side(L AND R)*/
	padding: 0;
}
#navbar{
	width: 100%;
    background-color: hsl(301.9, 28%, 40%);
    margin: 0px 5px 10px 850px;
    position: fixed;

}
nav ul {
    margin: 0px;
    padding: 5px 15px 5px 15px;
}
nav li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: white;
}
.container{
	background-color:#98AFC7;
	width: 100%;
	display: grid;
	grid-template-rows: 600px 800px 600px 300px;
}
.home{
	background-color:black;
}
.img-profile{
	display: block;
	height: 225px;
	width: 225px;
	border-color:#7D1B7E;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	margin: 100px auto 5px;/*after adding display:block; ,auto should be placed here for center this image*/
}
#h-Software{
	text-align: center;
	color: white;
	font-size: 40px;
}
.about{ 
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 49.5% 49.5%;
	grid-gap: 4px 4px;
	color: white;
	font-size: medium;
}
#about1{
	background-image:url("../images/books.jpg");
	
}
#about2{
	background-image:url("../images/books.jpg");

}
#about3{
	background-image:url("../images/key skills.png");

#about4{
	background-image:url("../images/projects.jpg");

}
#about5{
	background-image:url("../images/activity.jpg");

}
#about6{
	background-image:url("../images/certification.png");

}
.mythought{
	background-color:#FFFFAF; 
}
.mythought-gallery{
	height:300px;
	width: 300px;
}
.contact{
	background-color:#7D1B7E; 
}