body{
	margin: 0;/*to remove the white spaces on both side(L AND R)*/
	padding: 0;
}
#navbar{
	width: 100%;
    background-color: whitesmoke;
    margin: 0px 5px 10px 850px;
    position: fixed;

}
nav ul {
    margin: 0px;
    padding: 5px 15px 5px 15px;
}
nav li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.container{
	background-color:white;
	width: 100%;
	display: grid;
	grid-template-rows: 650px 800px 500px 250px;
}
.home{
	background-image:linear-gradient(60deg,#360033,#0b8793,#7D1B7E);
}
.img-profile{
	display: block;
	height: 225px;
	width: 225px;
	border-color:whitesmoke;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	margin: 150px auto 5px;/*after adding display:block; ,auto should be placed here for center this image*/
}
#h-Software{
	text-align: center;
	color: whitesmoke;
	font-size: 40px;
}
.about{ 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 10px;
	font-size: medium;
	margin-top: 10px;
}
.about-single {
	background-position: center;/*center the images*/
	background-size: cover;/*scale the images*/
	background-repeat: no-repeat;/*remove the image repeats*/
}
.about-single h1{
	text-align: center;
	color: hsl(185, 75%, 52%);
}
.details {
	background-color: rgba(0, 0, 0, 0.7);
	color:rgb(255, 255, 255);
    width: 100%;
    height: 100%;
	line-height: 20px;
}
.about-single dl{
	padding-left: 15px;
}
.about-single dt{
	font-weight: bold;
	color: hsl(185, 75%, 52%);
}
#about1{
	background-image:url("../images/personal.jpeg");
}
#about2{
	background-image:url("../images/education.jpg");
	background-position: right;
}
#about3{
	background-image:url("../images/key skills.png");
}	
#about4{
	background-image:url("../images/project.jpg");
}
#about4 a{
	color: white;
}
#about5{
	background-image:url("../images/acti.jpg");
}
#about6{
	background-image:url("../images/certificate.jpg");
	background-position: left;
}
/* To set opacity we don't need to create additional div */
.mythought{
	background-color:white;
	text-align: center;
}
.mythought-gallery{
	height:300px;
	width: 300px;
	margin: 3% 1% 3% 1%;
}
.contact{
	background-image:linear-gradient(60deg,#360033,#0b8793,#7D1B7E);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 60% 40%;
	grid-column-gap: 50px;
}
.contact h1, .contact h2, .contact p{
	text-align: center;
}
.contact img{
	height: 30px;
	width: 30px;
	display: block;
	margin: 5px auto;
}
#home-address, #mail, #linkedin{
	background-color:whitesmoke;
	margin-bottom: 10px;
	border-radius: 5px;
}
#home-address{
	margin-left: 50px;
}
#linkedin{
	margin-right: 50px;
}
#contact-detail{
	grid-column: 1/4;
}